<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odang.beatbot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10"
        android:targetSdkVersion="10" />

	<uses-permission android:name="android.permission.SET_DEBUG_APP" />    
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
	<uses-feature android:name="android.hardware.audio.low_latency" />	        
    
    <application
        android:icon="@drawable/beat_bot_icon_large"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity
            android:name=".activity.BeatBotActivity"
            android:screenOrientation="landscape"
             android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>